<div id="home-container">
  <div id="banner">
    <p id="font-1">Champagne Demonge</p>
    <p id="font-2">Champagne Demonge</p>
    <p id="font-3">Champagne Demonge</p>
    <p id="font-4">Champagne Demonge</p>
    <p id="font-5">Champagne Demonge</p>
    <p id="font-6">Champagne Demonge</p>
    <h1 id="font-7">Champagne Demonge</h1>
    <p id="font-8">Champagne Demonge</p>
    <p id="font-9">Champagne Demonge</p>
    <p id="font-10">Champagne Demonge</p>
    <p id="font-11">Champagne Demonge</p>

  </div>
</div>
